<div class="button-container">
  <button
    type="button"
    class="btn btn-primary"
    #buttonTargaryen
    (click)="emitFamily(buttonTargaryen.innerText)"
  >
    House Targaryen
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    #buttonStark
    (click)="emitFamily(buttonStark.innerText)"
  >
    House Stark
  </button>
  <button
    type="button"
    class="btn btn-success"
    #buttonBaratheon
    (click)="emitFamily(buttonBaratheon.innerText)"
  >
    House Baratheon
  </button>
  <button
    type="button"
    class="btn btn-danger"
    #buttonLannister
    (click)="emitFamily(buttonLannister.innerText)"
  >
    House Lannister
  </button>
  <button
    type="button"
    class="btn btn-warning"
    #buttonGreyjoy
    (click)="emitFamily(buttonGreyjoy.innerText)"
  >
    House Greyjoy
  </button>
  <button
    type="button"
    class="btn btn-info"
    #buttonAll
    (click)="emitFamily(buttonAll.innerText)"
  >
    All House
  </button>
</div>
